---
import Layout from "@layouts/Layout.astro";
import BackToHome from "@components/BackToHome.astro";
import BhajanList from "@components/BhajanList.astro";
import { getCollection } from "astro:content";

const bhajanEntries = await getCollection('bhajan');
export async function getStaticPaths() {
    const tags = new Set(bhajanEntries.map((song) => song.data.tags).flat());
    return {
        params: { tags:Array.from(tags) },
    };
}

const { tag } = Astro.params;
const tagSongs = bhajanEntries.filter(song=>song.data.tags?.findIndex(tag)!==-1)
---

<Layout title={`bhajans related to ${tag}`}>
    <main class="flex gap-8 flex-col">
        <h2 class="text-3xl mt-4 mb-0">Results for: #{tag}</h2>
        <BhajanList songList={tagSongs} />

        <BackToHome />
    </main>
</Layout>
