<a href="/">

    {/*noto-kannada applies ~6px padding in bottom by default */}
    <section
        class="w-3/5 mx-auto p-1 pt-3 text-base font-normal text-white text-center align-middle rounded-md bg-slate-950"
    >
        ⬅️ BACK TO HOME
    </section>
</a>
