<footer id="about-us" class="text-center text-white bg-slate-900 py-8">
    <h2 class="my-6 text-xl font-bold">About Us</h2>
    <div class="max-w-11/12 mx-auto">
        <h2 class="my-6 text-xl font-bold">Bhajanamrutha</h2>
        <p class="pb-4">A site where you will find lyrics of Kannada devotional songs and Dasara padagalu</p>
    </div>

    <nav class="flex flex-col gap-2">
        <a href="/">Home</a>
        <a href="/#bhajan-container">Bhajan</a>
        <a href="/#footer">About us</a>
    </nav>
</footer>