---
import hero from "../images/hero.jpg";
import { Image } from '@astrojs/image/components';
---

<section
    class="bg-[#99ffb3] w-full flex justify-evenly items-center md:py-16 py-8 px-8 text-xl rounded-lg flex-wrap overflow-hidden gap-4"
>
    <div class="max-w-sm">
        <div class="font-bold text-3xl mb-6">Welcome to Bhajanamrutha</div>
        <div class="font-bold text-base">
            A site where you will find lyrics of Kannada devotional songs and
            Dasara padagalu
        </div>
    </div>
    <Image class="rounded-lg" src={hero} alt="" width={300} height={300} aspectRatio={1} format="webp" fetchpriority="high"/>
    
</section>
