---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import BackToHome from "@components/BackToHome.astro";
import BhajanList from "@components/BhajanList.astro";
import { getCollection } from "astro:content";
import {matchSearch} from "@lib/utils"

const bhajanEntries = await getCollection("bhajan");

const { query } = Astro.params;
---

<Layout title={`bhajans related to ${query}`}>
    <main class="flex gap-8 flex-col">
        <h2 class="text-3xl mt-4 mb-0">Results for: #{query}</h2>

        {query && <BhajanList songList={matchSearch(query,bhajanEntries)} />}

        <BackToHome />
    </main>
</Layout>
